<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body class="body__thebeat">

  <!-- Section 1 -->

  <nav class="home__navigator">
    <div class="home__navigator__menu">
      <a href="/"><i class="fas fa-bars"></i></a>
    </div>
    <ul class="home__navigator__list">
      <li><a href="/">Electric Guitars</a></li>
      <li><a href="/">Acoustic Guitars</a></li>
      <li><a href="/">Basses</a></li>
      <li><a href="/">Electronics</a></li>
      <li><a href="/">Keyboards & Synths</a></li>
      <li><a href="/">Login</a></li>
      <li><a href="/">Register</a></li>
    </ul>
    <div class="home__navigator__logo">
      <a href="/"><img src="/" alt="logo"></a>
    </div>
    <div class="home__navigator__search">
      <a href="/"><i class="fas fa-search"></i></a>
    </div>
  </nav>
  <main>
    <div class="main__carousel__first">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/korg_piano1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/fender_guitar1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/fender_guitar2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <section class="main__recommended_product">
      
    </section>
  </main>
  <footer>

  </footer>
  v
</body>
</html>
