<!DOCTYPE html>
<html lang="en">
    <!-- Partial Head -->
    <%- include('./partials/head') %> 

<body>
    <form action="">
        <label for=""> usuario
            <input type="email" name="email" id="">
        </label>
        <label for=""> contraseña
            <input type="password" name="password" id="">
        </label>
        <label for=""> nombre
            <input type="text" name="name" id="">
        </label>
        <button type="submit"> Enviar</button>
    </form>
    <%- include('./partials/script.ejs') %> 
</body>
</html>